<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.sweetsquare">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sweets_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DesignDemo">
        <activity android:name=".activities.DessertsListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.DetailActivity"
            android:parentActivityName=".activities.DessertsListActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DessertsListActivity" />
        </activity>
        <activity android:name=".activities.DrinksListActivity"
            android:parentActivityName=".activities.DessertsListActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DessertsListActivity" />
        </activity>
    </application>

</manifest>